@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #F9F9F9;
  overflow-x: hidden;
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.cursor {
    cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profileImage {
  width: 50px;
  height: 50px;
}

.header { 
  min-height: 10vh;
  background-color: white;
  /* position: fixed; */
  width: 100vw;
  box-shadow: 0px 0px 10px 0px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 5rem;
  overflow-x: hidden;
}

.title {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 8px;
}

.right-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-profile {
  margin-right: 6rem;
}

.imageBtn {
  border: none;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  margin-left: 10px;
}

.imageBtn:hover {
  opacity: 0.8;
}

.image {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.text-center {
  text-align: center;
}

.Logout {
  margin-top: .3rem;
}

.logoutIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.logoutIcon:hover {
  opacity: 0.5;
}

.main-container {
  margin: 0 6rem;
}

.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
}

.addtask {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border: none;
  width: 90%;
  background-color: #EEEEEE;
  border-radius: 20px;
  outline: none;
}


.addIcon {
  padding: 1.5rem;
 cursor: pointer;
}

.content {
  margin-top: 3rem;
  margin-left: 1rem;
  /* width: 80%; */
  justify-content: center;
}

.cont {
  background-color: white;
  box-shadow: 0px 0px 5px 0px grey;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.taskName {
  margin-left: 15px;
  font-size: 22px;
}

.left {
  margin-left: 1rem; 
  display: flex;
  flex-direction: row;
  align-items: center;

}

.check-box {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.right {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.7rem;
}

.Icon {
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: red;
}

.Icon:hover {
  color: grey;
}

.addForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
}

.complete-task {
  text-decoration: line-through;
}

.goback {
  display: flex;
  justify-content: center;
  
}



